.cont {
  margin-top: 30px;
  width: 100vw;
  background-color: #f1f1f1;
}

.container-box {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 767px) {
  .container-box {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 607px) {
  .sm-767-2 {
    margin: 10rem;
  }
}

@media only screen and (max-width: 411px) {
  .container-box {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 360px) {
  .container-box {
    display: flex;
    flex-direction: column;
  }
}
