.profile {
  display: inline-block;
  margin: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 2px 2px #ccc;
  width: 20vw;
  height: 100%;
  overflow: hidden;
  background-color: white;
  margin-right: 26px;
  padding-bottom: 10px;
}

.detail-container {
  margin: 40px;
}

.profile-image {
  width: 100%;
  display: block;
}

.name {
  padding-top: 2px !important;
}

#box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  /* margin-right: 20px; */
}

.text,
.title,
.name,
.rating,
.btn {
  padding: 4px;
  display: block;
}

.icon {
  width: 26px;
  height: 26px;
  color: gold;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: #337ab7;
  margin-left: 25px;
  text-align: center;
  font-size: 15px;
}

@media only screen and (max-width: 1408px) {
  .rating-profile {
    display: flex;
    flex-direction: row;
    padding: 4px;
  }
  .profile {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 2px #ccc;
    width: 20vw;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin-right: 10px;
    padding-bottom: 10px;
  }

  #box {
    display: flex;
    flex-direction: row !important;
  }
  .icon {
    width: 23px;
    height: 23px;
    color: gold;
  }
  .btn {
    /* display: block; */
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #337ab7;
    margin-left: 25px;
    text-align: center;
    font-size: 15px;
  }
}

@media only screen and (max-width: 1289px) {
  .rating-profile {
    display: flex;
    flex-direction: row;
    padding: 4px;
  }
  .profile {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 2px #ccc;
    width: 20vw;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin-right: 10px;
    padding-bottom: 10px;
  }

  #box {
    display: flex;
    flex-direction: row !important;
  }
  .icon {
    width: 20px;
    height: 20px;
    color: gold;
  }
  .btn {
    /* display: block; */
    width: 95px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: #337ab7;
    margin-left: 25px;
    text-align: center;
    font-size: 13px;
    /*margin: 50px; */
  }
}
@media only screen and (max-width: 1189px) {
  .rating-profile {
    display: flex;
    flex-direction: row;
    padding: 4px;
  }
  .profile {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 2px #ccc;
    width: 20vw;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin-right: 10px;
    padding-bottom: 10px;
  }

  #box {
    display: flex;
    flex-direction: row !important;
  }
  .icon {
    width: 15px;
    height: 15px;
    color: gold;
  }
  .btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #337ab7;
    margin-left: 25px;
    text-align: center;
    font-size: 15px;
  }
}

@media only screen and (max-width: 1068px) {
  .rating-profile {
    display: flex;
    flex-direction: row;
  }
  .profile {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 2px #ccc;
    width: 30vw;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .icon {
    width: 24px;
    height: 24px;
    color: gold;
  }
  .btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #337ab7;
    margin-left: 25px;
    text-align: center;
    font-size: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .rating-profile {
    display: flex;
    flex-direction: row;
  }
  .profile {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 2px #ccc;
    width: 25vw;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .icon {
    width: 20px;
    height: 20px;
    color: gold;
  }
  .btn {
    width: 95px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: #337ab7;
    margin-left: 25px;
    text-align: center;
    font-size: 15px;
  }
}

@media only screen and (max-width: 829px) {
  .rating-profile {
    display: flex;
    flex-direction: column;
  }
  .profile {
    width: 24vw;
  }

  .btn {
    padding: 1vw;
    margin: 1vw;
  }
}

@media only screen and (max-width: 767px) {
  .rating-profile {
    display: flex;
    flex-direction: column;
  }
  .profile {
    width: 30vw;
    margin-right: 0px;
    margin-left: 15px;
  }

  .detail-container {
    margin: auto;
  }

  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    /* flex-wrap: wrap; */
  }

  .btn {
    padding: 1vw;
    margin: 1vw;
  }
}

@media only screen and (max-width: 710px) {
  .profile {
    width: 34vw;
  }
}

@media only screen and (max-width: 670px) {
  .profile {
    width: 30vw;
  }
}
@media only screen and (max-width: 607px) {
  .profile {
    width: 100vw;
  }
  .detail-container {
    margin: 0;
  }
}

@media only screen and (max-width: 594px) {
  .rating-profile {
    display: flex;
    flex-direction: column;
  }

  .profile {
    display: "block";
    margin: 4px;
    margin-left: 5%;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 2px 2px #ccc;
    width: 90vw;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin-right: 2px;
    padding-bottom: 10px;
  }
  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  .detail-container {
    margin: 0;
  }
}

@media only screen and (max-width: 360px) {
  .rating-profile {
    display: flex;
    flex-direction: column;
  }

  .profile {
    display: "block";
    margin: 2px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 2px 2px #ccc;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin-right: 26px;
    padding-bottom: 10px;
  }
  #box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px;
  }
}
