ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: block;
  padding: 1vw 2vw;
  margin: 10px;
  margin-left: 2vw;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

#sidepane-item:hover {
  background-color: beige;
}

.sidepane-container {
  overflow: hidden;
  background-color: white;
  width: 20vw;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 360px) {
  .sidepane-container {
    width: 100vw;
    height: 100vh;
  }

  ul li {
    padding: 5vw 5vh;
    margin: 10px;
    margin-left: 2vw;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
  }
}

@media only screen and (max-width: 411px) {
  .sidepane-container {
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (max-width: 767px) {
  .sidepane-container {
    width: 100vw;
    text-align: center;
  }
}
