label {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.dropdown-button {
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: auto;
}

.dropdown {
  position: relative;
  display: block;
  margin-top: 1vh;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 14vw;
  box-shadow: 1vw 1vw 2vw 0.2vw rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content ul li:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .dropdown-button {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
    width: 24vw;
  }
}
/* 
@media only screen and (max-width: 360px) {
  .dropdown-button {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
    width: 30vw;
  }
}

@media only screen and (max-width: 411px) {
  .dropdown-button {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
    width: 40vw;
  }
} */
