ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: block;
  padding: 1vw 2vw;
  margin: 10px;
  margin-left: 2vw;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

#sidepane-item:hover {
  background-color: beige;
  cursor: pointer;
}

#sidepane {
  position: absolute;
  background-color: white;
  height: 100vh;
  width: 20vw;
  margin-top: 30px;
}

.sidepane-container {
  overflow: hidden;
}
